h2,
h5 {
  color: #006ec5;
}
button {
  margin: 0 0 50px 0;
}
em {
  font-size: 25px;
}
.weatherapp {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  font-family: "Lato", sans-serif;
  padding: 20px 20px 20px 20px;
  line-height: 1.5;
  margin: 30px 0 10px 0;
  border: 3px solid #3a444c;
  border-radius: 20px;
  max-width: 900px;
}
p {
  color: #006ec5;
  margin: 0;
}
a {
  text-decoration: none;
}
small {
  font-family: "Lato", sans-serif;
}

.units {
  position: relative;
  top: -38px;
  font-size: 15px;
}
#temperature {
  color: black;
  font-size: 70px;
}
.row {
  margin: 30px 0;
}
.far {
  font-size: 55px;
}
.card {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  border: 3px solid #3a444c;
  border-radius: 20px;
}
