body {
  font-family: "Lato", sans-serif;
}

h2,
h5 {
  color: #006ec5;
}
button {
  margin: 0 0 50px 0;
}
em {
  font-size: 25px;
}
img {
  margin: 0 auto;
}
.container-box {
  max-width: 900px;
  margin: 30px auto 10px;
}
.weatherapp {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  padding: 20px 20px 20px 20px;
  line-height: 1.5;
  border: 2px solid #3a444c;
  border-radius: 20px;
  max-width: 900px;
}
ul {
  padding: 20px 0;
}
li {
  list-style: none;
  color: #006ec5;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.units {
  position: relative;
  top: -38px;
  font-size: 15px;
}
.float-left {
  position: relative;
  top: -20px;
}
#temperature {
  color: black;
  font-size: 70px;
}
.row {
  margin: 20px 0;
}
.far {
  font-size: 55px;
}
.card {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  border: 2px solid #3a444c;
  border-radius: 20px;
}

.active {
  color: rgb(33, 33, 33);
  cursor: default;
  font-size: 25px;
}

.forecast-image {
  max-width: 45px;
}
.weather-forecast {
  text-align: center;
}

#min {
  opacity: 0.5;
}
